
header {
		width:100%;
		height:10%;
		background-color:#2c87af;
		position:absolute;
		}
		
		nav {
			width:95%;
			border:1px solid black;
			height:100%;
			margin:auto;
			}
			
section {
		width:100%;
		height:90%;
		margin:auto;
		background-color:#eeeeee;
		position:absolute;
		top:10%;
		
		}

	
#pesquisa {
	float:left;
	width:20%;
	background-color:#dadada;
	height:100%;
	}
	
	.campo_pesquisa {
		position:relative;
		top:50%;
		height:450px;
		border:1px solid black;
		width:80%;
		margin-top:-150px;
		left:50%;
		margin-left:-40%;
		margin-top:-225px;
		}
		
		#campo_pesquisa {
			padding:5px;
			border:1px solid #2c87af
			}
			
			#efetuarPesquisa {
				width:35px;
				margin-left:-7px;
				height:28px;
				margin-top:3px;
				border:0;
				background-color:#2c87af;
				background-image:url(../images/search.png);
				background-position:center;
				background-repeat:no-repeat;
				}




#monografias {
	float:left;
	width:80%;
	height:100%;
	overflow:auto;
	}
	
	.container {
		width:85%;
		margin:auto;
		height:auto;
		background-color:white;
		}
		
		.navegacao {
					width:96%;
					background-color:#e2e3e5;
					height:1em;
					margin-top:2%;
					padding:2%;
					}
		
		.dados_pesquisa {
			float:left;
			width:80%;
			height:auto;
			}
			
			.dados_pesquisa p {
				margin:0;
				font-size:0.9em;
				height:auto;
				}		
		
		.pages {
			float:left;
			width:20%;
			background-color:orange;
			height:25px;
			}
				
				
				
				.each_mono {
					width:49%;
					height:210px;
					margin-right:0.5%;
					margin-top:2%;
					margin-left:0.5%;	
					float:left;
					border-radius:5% 10% 1% 1%;
					box-shadow:0 0 5px rgba(0,0,0,0.3);
					background-color:#d4d4d4
					}
					
						.each_header {
							width:100%;
							height:40px;
							border-radius:5% 20% 0 0;
							
							
							
							
							}
							
								.each_titulo {
									float:left;
									width:96%;
									height:20px;
									padding-top:10px;
									padding-bottom:10px;
									padding-left:2%;
									padding-right:2%;
									border-top-right-radius:20%;
									border-top-right-radius:20%;
									

									
									}
									
									.each_titulo h1
									{
										margin:0;
										font-size:15px;
										}
								

									
									.each_inst p{
										margin:0;
									font-size:12px;
										}
							
						.each_resumo {
							width:96%;
							height:95px;
							padding-left:2%;
							padding-right:2%;
							background-color:#37647b;
							padding-top:15px;
							padding-bottom:10px;
							overflow:hidden;
							
							}
							
							.each_resumo p {
								font-size:0.8em;
								margin:0;
								color:white;
								}
							
							
							
						.each_footer {
							width:98%;
							height:50px;
							background-color:white;
							padding-left:1%;
							padding-right:1%;
							
							}
							
							
								
							.each_avaliacao {
								float:left;
								width:25%;
								height:20px;
								padding-top:10px;
								padding-bottom:10px;	
								padding-left:2%;
								padding-right:2%;
								margin-top:5px;
								margin-left:2px;
								text-align:center;
								background-color:orange
								}
							
							.each_data {
								float:right;
								width:60%;
								height:20px;
								padding-top:10px;
								padding-bottom:10px;	
								padding-left:2%;
								padding-right:2%;
								margin-top:5px;
								margin-left:2px;
								text-align:center;
								background-color:orange
								}
								
								.each_avaliacao  p {
									margin:0;
									font-size:12px;
									}

								.each_data  p {
									margin:0;
									font-size:12px;
									margin-top:-5px;
									}
								
								