section {
	width:51%;
	height:auto;
	background-color:white;
	margin:auto;
	padding:2%;
	overflow:auto;
	}
	
	.latest_posts
			{
				float:left;
				width:200px;
				padding-left:2%; padding-right:2%;
				height:50px;
				margin-top:-10px;
				background-color:#2c87af;
				color:white;
			}
				.latest_posts h1 {
					font-size:16px;
					margin-top:15px;
				}
	
	.UltimosTrabalhos {
					margin-top:20px;
					width:100%;
					background-color:rgba(44,135,175,0);
					}
					
					
	#etapas_main {
		width:80%;
		height:100px;
		text-align:center;
		margin:auto auto 10px auto;
		font-size:.5em;
		}
		
		#etapas_main h1 {
			font-weight:100;
			color:white;
			position:relative;
			top:10%;
			}
		
		#etapa1 {
			width:10%;
			height:100px;
			border-radius:50%;
			background-color:#2c87af;
			float:left;
			}
			
			#reta1 {
				width:20%;
				height:10px;
				position:relative;
				top:50%;
				margin-top:-5px;
				float:left;
				background-color:#64b0d1;
				}
				
		#etapa2{
			width:10%;
			height:100px;
			border-radius:50%;
			background-color:#64b0d1;
			float:left;
			}
			
			#reta2 {
				width:20%;
				height:10px;
				position:relative;
				top:50%;
				margin-top:-5px;
				float:left;
				background-color:#64b0d1;
				}
				
		#etapa3{
			width:10%;
			height:100px;
			border-radius:50%;
			background-color:#64b0d1;
			float:left;
			}
			
			#reta3 {
				width:20%;
				height:10px;
				position:relative;
				top:50%;
				margin-top:-5px;
				float:left;
				background-color:#64b0d1;
				}
				
		#etapa4{
			width:10%;
			height:100px;
			border-radius:50%;
			background-color:#64b0d1;
			float:left;
			}
			
			/* #64b0d1, #2c87af */ 
			
/*dicas de preenchimento*/
		article {
			width:100%;
			height:auto;
			background-color:rgba(44,135,175,.1);
			margin-top:0px;
			padding-top:1%;
			border-bottom:1px solid black;
			display:none;
			
			}		
			
			article h1 {
				font-size:1.1em;
				margin:1%;
				}
			
			article p {
				font-size:.9em;
				margin:0;
				}
				
				#cada_dica {
					width:21%;
					height:100px;
					float:left;	
					margin:1%;
					padding:1%;;
					}
					
/*etapa1 texto*/
	#etapa1_texto {
		width:90%;
		height:auto;
		margin:auto;
		}
		
		#etapa1_texto p {
			font-size:.8em;
			}
		
		#etapa1_texto h1 {
			font-size:1.3em;
			color:#2c87af;
			font-weight:900;
			margin-left:10px;
			}
			
		#etapa1_texto h2 {
			font-size:1em;
			color:#2c87af;
			margin-top:20px;
			font-weight:700
			}
		
		#condições_e_uso {
			width:100%;
			padding:2%;
			height:285px;
			background-color:rgba(204,204,204,.3);
			overflow:auto;
			color:rgba(102,102,102,1)
			}


/*etapa2_texto*/
#etapa2_texto {
		width:90%;
		height:auto;
		margin:auto;
		height:auto;
		}			
		
		#table_form {
			margin:auto; 
			width:60%;
			}
			
			#table_form h1 {
				font-size:.9em;
				font-weight:600;
				text-align:left;
				margin:0;
				color:black;
				}
				
				
				#table_form input{width:100%;}
				#table_form td {padding:1%;}
				#table_form cite {font-size:.75em; color:#333}
				.td_left { width:150px;}
				
				#foto_enviar{
					width:200px;
					height:200px;
					border:1px solid black;
					}
					
					#btnFile {
						height:25px;
						margin-top:175px;
						}
			
			#btnProximo {
				padding-left:60px;
				height:73px;
				background-image:url(../images/cadastro/next.jpg);
				background-repeat:no-repeat;
				background-color:#47566d;
				color:white;
				font-size:20px;
				font-weight:900;
				border:0;
				cursor:pointer;
				}
				
				
	.UltimosTrabalhos {
					margin-top:20px;
					width:100%;
					}
					
					.latest_posts
			{
				float:left;
				width:auto;
				padding-left:2%; padding-right:2%;
				height:50px;
				margin-top:-10px;
				background-color:#2c87af;
				color:white;
			}
				.latest_posts h1 {
					font-size:.1em;
					margin-top:15px;
					color:white;
					}
		
		
				
				